idna==3.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
multidict==6.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
yarl==1.9.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
